Package: com.milodarling.dropped
Name: Dropped
Depends: mobilesubstrate, preferenceloader, libactivator
Version: 1.1
Architecture: iphoneos-arm
Description: Activator event for device falling or hitting the ground.
Maintainer: Milo Darling
Author: Milo Darling
Section: Tweaks
