Package: com.milodarling.dropped
Name: Dropped
Depends: mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Activator event for device falling or hitting the ground.
Maintainer: Milo Darling
Author: Milo Darling
Section: Tweaks
Version: 1.0-1
Installed-Size: 464
